streamlit
pandas
openpyxl
scipy
scikit-learn
matplotlib
statsmodels
lightweight_mmm>=0.2.7
pymc>=5
numpyro; platform_system=="Linux"  # 環境によって

#
pycausalimpact @ https://github.com/WillianFuks/causalimpact/archive/refs/heads/master.zip